.cc{
   /* background-color: blue; */
}
input{
   /* background-color: crimson;
   display: block;
   height: ;
   width: ;
   padding: 20px;
   justify-content: center;
   align-items: center;
   text-align: center;
   display: flex; */
   /* margin-top: 20px;
   border-radius: 50%;
   outline:none;
   font-weight: ; */
   /* margin-top: ;
   margin-left: ;
   font-family: Arial, Helvetica, sans-serif;
   margin-bottom: ; */
   outline: none;
   border: none;
   
}
